{% extends "base.html" %}

{% block the_content %}
<div align=center>
       <br><br>
<table border="0">
<tbody>
<tr>
<td align =center><h3>MICHELLE BOLGER</h3></td>
</tr>
<tr>
<td>
<a STYLE ="TEXT-DECORATION:NONE" href = "mailto: michellebolgerlaois@gmail.com"> michellebolgerlaois@gmail.com &nbsp;&nbsp;
<a STYLE ="TEXT-DECORATION:NONE" href = "https://www.linkedin.com/in/michelle-bolger/" target="_blank">  LinkedIn &nbsp;&nbsp;
<a STYLE ="TEXT-DECORATION:NONE" href="https://github.com/Chellx" target="_blank"> GitHub 
</td>
</tr>
</tbody>
</table>
<BR><BR>

<table  border="0">
<tbody>
<tr>
<td><h4>PERSONAL PROFILE</h4></td>
</tr>
<tr>
<td>

<ul>
<li>I am currently studying Software Development where I have consistently achieved over 70% since first year and I am on track to receive a 1st Class Honours Degree.</li>
<li>I am a quick learner with the ability to work effectively and efficiently in various environments. I have excellent communication, problem solving and time management skills and I am also capable of working on my own initiative and within a team based environment.</li>
<li>I have experience working in the retail/sales sector which has given me valuable skills such as adaptability, open-mindedness and patience which will help me within the tech industry.</li>
</ul>

</td>
</tr>
<TR>
<td><h4>TECHNICAL SKILLS</h4></td>
</TR>

<tr>
<td>
	<ul>
<li>Programming – Java</li>
<li>Data Structures</li>
<li>IDE’s – Eclipse, Visual Studio</li>
<li>Databases – MySQL</li>
<li>Web Development – HTML, CSS, PHP, JavaScript</li>
<li>Systems Analysis Design & Testing</li>
<li>Computer Architecture & Hardware</li>
</ul>


</td>
</tr>



<TR>
<td><h4>EDUCATION/FURTHER TRAINING</h4></td>
</TR>

<tr>
<td>
<UL>
	<li>Sept - Present: Institute of Technology Carlow - Software Development (Bachelor of Science Honours)</li>
	<li>August 2020: Workday Women In Tech Event</li>
	<li>November 2019: Workday Women In Tech Workshop</li>
	<li>Sept 2014 - June 2016: Portarlington Education Centre - Business Studies & Marketing</li>
	<li>Sept 2008 - Jan 2009: Inchicore College - Art & Design</li>
	<li>2003 - 2008: Presentation Secondary School Kildare Town</li>
</UL>


</td>
</tr>

<TR>
<td><h4>EMPLOYMENT DETAILS</h4></td>
</TR>

<tr>
<td>
<UL>
	<li>Jan 2016 - April 2016: Laois Hospice Charity Shop - Shop Assistant</li>
	<li>Nov 2015 - Dec 2015: Harvey Norman - PhotoCentre Assistant</li>
	<li>2007 - 2012: Childminding</li>
	<li>2008 - 2009: Avon - Sales Rep</li>
	<li>2007: Treehouse Flowers - Florist</li>
</UL>


</td>
</tr>

<TR>
<td><h4>VOLUNTEERING</h4></td>
</TR>

<tr>
<td>
<UL>
	<li>Sept 2018 - Present: Women In Technology Society Member</li>
	<li>Dec 2019 - Panel Speaker - Women In Tech & Engineering Event</li>

</UL>


</td>
</tr>
</tbody>
</table>





</div>




{% endblock %}
