{% extends "base.html" %}

{% block the_content %}

<h2 ALIGN =CENTER>Here you can find information about my hobbies!</h2>

<table>
<tbody>
<tr>
<td><h4>READING</h4><BR> I love to read, any type of book but mainly non-fiction! Currently I am reading "From Here to Eternity : Traveling the World to Find the Good Death" by Caitlin Doughty
This book follows Caitlin (a mortician) as she travels the world discovering how different cultures around the world deal with death.<br><br>
I am also reading "The Secret Lives of Colour" by Kassia St Clair, this book is all about the history of certain colours such as "Mummy Brown" a pigment from the 16th & 17th centuries that was made from real Egyptian Mummies!!!</td>

</tr>
<tr>
<td><h4>VIDEO GAMES</h4>

<ul>Some of my favourite games are:<BR>
	<BR>
<li>Animal Crossing New Leaf</li>
<li>The Legend Of Zelda Link To The Past</li>
<li>The Legend Of Zelda A Link Between Worlds</li>
<li>Luigi's Mansion</li>
<li>Yoshi's Wooly World</li>
<li>Kirby Triple Deluxe</li>
<li>Final Fantasy X & X-2</li>
<li>Pokemon Diamond/Pearl</li>
</ul>

The first console I had was a Sega Mega Drive. Some of the games I played on this console with my older brothers were Sonic 1 & 2, Golden Axe and 
Streets of Rage. The first handheld console I had was a GameBoy Color on this console I mainly played Pokemon Red,Yellow and Blue.
<br><br></td>

</tr>
</tbody>
</table>


{% endblock %}