{% extends "base.html" %}

{% block the_content %}


<li>My name is Michelle</li>
<li>I live in Laois</li>
<li>I am currently a third year student in Carlow IT</li>
<li>I am studying Software Development</li>
<br><br>
</ul>


<ol> <h2 style = "color: green;">Likes</h2>
<li>Video Games</li>
<li>Horror Movies</li>
<li>Art</li>
<li>Dogs</li>

</ol>


<br><br>
<ol><h2 style = "color: red;">Dislikes</h2>
<li>Hot Weather</li>
<li>People who are late</li>
<li>Bugs</li>
<li>Coffee</li>

</ol>

{% endblock %}
