{% extends "base.html" %}

{% block the_content %}

<table  border="0">
<tbody>
<tr>
<td><h4>PLAYDATE: The Handheld Console With A Hand Crank</h4></td>
</tr>
<tr>
<td>

The Playdate is an upcoming handheld video game console developed by Panic. The console features a black & white screen 2 buttons and a d-pad but what makes this console unique is that it also has a 
mechanical crank on the side that can be used for gameplay. The console will be released in 2021 with 12 games but new ones will eventually be available through wi-fi in the future. I think this console
is very innovative in the use of the crank for unique gameplay mechanics. The console also allows users to create their own games using the available SDK which includes a simulator and debugger.
If you want to learn more you can <a STYLE ="TEXT-DECORATION:NONE" href="https://play.date/" target="_blank">Click Here

</td>
</tr>

</td>
</tr>
</tbody>
</table>



{% endblock %}