{% extends "base.html" %}

{% block the_content %}

<table  border="0">
<tbody>
<tr>
<td><h4>TIMEULAR: The 8-Sided Time Tracking Dice</h4></td>
</tr>
<tr>
<td>

The Timeular tracker is an 8-sided dice that tracks your time. Using the accompanying app users can assign a certain activity to each side of the dice and flip it to begin tracking time spent
doing certain activities. The tracker connects to the app via Bluetooth and data can be exported as a CSV,PDF or Excel file. I like this piece of technology because I think
when there is a physical object on your desk tracking your time your more likely to stick to your schedule than just using an app. I also think now that most of us work and 
study from home this time tracker is even more useful.
If you want to learn more you can <a STYLE ="TEXT-DECORATION:NONE" href="https://timeular.com" target="_blank">Click Here
</td>
</tr>

</td>
</tr>
</tbody>
</table>



{% endblock %}